---
layout: archive
permalink: /pubs/ 
title: "Publications"
author_profile: true
---

<p>
In online databases:
<span class="archive__item-title">
<a href="http://arxiv.org/a/stein_l_1">arXiv</a>,
<a href="https://ui.adsabs.harvard.edu/#search/q=author%3A%22Stein%2C%20Leo%20C.%22&sort=date%20desc%2C%20bibcode%20desc">ADS</a>,
and
<a href="http://inspirehep.net/search?p=exactauthor%3AL.C.Stein.2">INSPIRE</a></span>.
<br>
I also curate all my publications below for some attempt at
consistency.
</p>

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% if post.pub %}
    {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
    {% if year != written_year %}
      <h2 id="{{ year | slugify }}" class="archive__subtitle"><a href="#{{ year | slugify }}">#{{ year }}</a></h2>
      {% capture written_year %}{{ year }}{% endcapture %}
    {% endif %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}
